html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  font-family: 'Lato';
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  border-width: 5px;
  border-radius: 5px;
  border-color: #333;
  padding: 1em;
}

a:hover {
  background-color: #666;
}
